src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper"
	xmlns:servicenow="http://www.mulesoft.org/schema/mule/servicenow"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:core="http://www.mulesoft.org/schema/mule/core"
	xmlns:wd-hr="http://www.mulesoft.org/schema/mule/wd-hr"
	version="EE-3.6.2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/servicenow http://www.mulesoft.org/schema/mule/servicenow/1.0/mule-servicenow.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wd-hr http://www.mulesoft.org/schema/mule/wd-hr/2.0/mule-wd-hr.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">


	<data-mapper:config name="map_to_csv" transformationGraphPath="map_to_csv.grf" doc:name="map_to_csv" />
    <data-mapper:config name="ServiceNow_Users_to_Maps" transformationGraphPath="servicenow_users_to_maps.grf" doc:name="ServiceNow_Users_to_Maps"/>
    <data-mapper:config name="Workday_Workers_to_Maps" transformationGraphPath="workday_workers_to_maps.grf" doc:name="Workday_Workers_to_Maps"/>

	<flow name="mainFlow" 
		doc:description="This flow is the entry point to the Template business logic.

This flow should control the direction of the application, and it should be called by the different endpoints that your Template exposes to trigger it.">
		<flow-ref name="gatherDataFlow" doc:name="call gatherDataFlow" />
		<flow-ref name="formatOutputFlow" doc:name="call formatOutputFlow" />
		<flow-ref name="outboundFlow" doc:name="call outboundFlow" />
		<exception-strategy ref="defaultChoiceExceptionStrategy"
			doc:name="Reference Exception Strategy" />
	</flow>

	<sub-flow name="gatherDataFlow" >
        <scatter-gather doc:name="Scatter-Gather">
            <custom-aggregation-strategy class="org.mule.templates.transformers.WorkersMergeAggregationStrategy"/>
            <flow-ref name="workdayRetrievalMapperFlow" doc:name="call workdayRetrievalMapperFlow"/>
            <flow-ref name="snowRetrievalMapperFlow" doc:name="call snowRetrievalMapperFlow"/>
        </scatter-gather>
	</sub-flow>
    <sub-flow name="workdayRetrievalMapperFlow">
        <processor-chain doc:name="Processor Chain">
            <wd-hr:get-workers config-ref="Workday_Human_Resource" workersRequest-ref="#[org.mule.templates.WorkerRequest.createRequest(${wday.page.size})]" doc:name="get Workers from Workday Human Resource"/>
            <data-mapper:transform config-ref="Workday_Workers_to_Maps" doc:name="Workday Workers to Maps"/>

        </processor-chain>
    </sub-flow>
    <sub-flow name="snowRetrievalMapperFlow">
        <processor-chain doc:name="Processor Chain">
            <servicenow:get-records config-ref="ServiceNow" doc:name="ServiceNow" type="SYS_USER">
           		<servicenow:get-records-request>

           		</servicenow:get-records-request>
       		</servicenow:get-records>
            <data-mapper:transform config-ref="ServiceNow_Users_to_Maps" doc:name="ServiceNow Users to Maps"/>

        </processor-chain>
    </sub-flow>

	<sub-flow name="formatOutputFlow" >

		<custom-transformer class="org.mule.templates.transformers.SortWorkersTransformer"
			doc:name="Custom component to sort workers list" />
		<data-mapper:transform config-ref="map_to_csv"
			doc:name="transform Collection of Maps to CSV Format" />

		<object-to-string-transformer doc:name="CSV Output Object to String" />
	</sub-flow>
</mule>
