src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:servicenow="http://www.mulesoft.org/schema/mule/servicenow"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:core="http://www.mulesoft.org/schema/mule/core"
	xmlns:wd-hr="http://www.mulesoft.org/schema/mule/wd-hr"
	version="EE-3.7.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/servicenow http://www.mulesoft.org/schema/mule/servicenow/current/mule-servicenow.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wd-hr http://www.mulesoft.org/schema/mule/wd-hr/current/mule-wd-hr.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

	<flow name="mainFlow" 
		doc:description="This flow is the entry point to the Template business logic.

This flow should control the direction of the application, and it should be called by the different endpoints that your Template exposes to trigger it.">
		<flow-ref name="gatherDataFlow" doc:name="call gatherDataFlow" />
		<flow-ref name="formatOutputFlow" doc:name="call formatOutputFlow" />
		<flow-ref name="outboundFlow" doc:name="call outboundFlow" />
		<exception-strategy ref="defaultChoiceExceptionStrategy"
			doc:name="Reference Exception Strategy" />
	</flow>
    <flow name="gatherDataFlow" processingStrategy="synchronous">
        <scatter-gather doc:name="Scatter-Gather">
            <custom-aggregation-strategy class="org.mule.templates.transformers.WorkersMergeAggregationStrategy"/>
            <processor-chain>
                <dw:transform-message doc:name="Create GetWorkers Request">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java 
--- 
{ 
	requestCriteria: { 
		excludeInactiveWorkers: true
	},
	responseFilter: {
		count: p('page.size')
	}
} as :object {class: "com.workday.hr.GetWorkersRequestType"}]]></dw:set-payload>
                </dw:transform-message>
                <wd-hr:get-workers config-ref="Workday_Human_Resource" doc:name="get Workers from Workday Human Resource"/>
                <dw:transform-message doc:name="Workday Workers to Maps">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload.responseData.worker map
{
	Id: $.workerReference.ID[1].value,
	Name: $.workerData.personalData.nameData.legalNameData.nameDetailData.formattedName,
	Email: $.workerData.personalData.contactData.emailAddressData[-1].emailAddress,
	Username: $.workerData.userAccountData.userName when $.workerData.userAccountData != null otherwise null
}]]></dw:set-payload>
                </dw:transform-message>
            </processor-chain>
            <processor-chain>
                <dw:transform-message doc:name="Create getRecords Request">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.service-now.com/sys_user
---
{
	ns0#getRecords: {
		ns0#"__limit": p('page.size')
	}
}]]></dw:set-payload>
                </dw:transform-message>
                <servicenow:invoke config-ref="ServiceNow" type="sys_user||getRecords" doc:name="ServiceNow"/>
                <dw:transform-message doc:name="ServiceNow Users to Maps">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://www.service-now.com/sys_user
---
payload.ns0#getRecordsResponse.*ns0#getRecordsResult map
{
	Id: $.ns0#sys_id,
	Name: $.ns0#name,
	Email: $.ns0#email,
	Username: $.ns0#user_name
}]]></dw:set-payload>
                </dw:transform-message>
            </processor-chain>
        </scatter-gather>
    </flow>
    <flow name="formatOutputFlow" processingStrategy="synchronous">
        <custom-transformer class="org.mule.templates.transformers.SortWorkersTransformer" doc:name="Custom component to sort workers list"/>
        <dw:transform-message doc:name="transform Collection of Maps to CSV Format">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/csv header=true, quoteValues=true
---
payload map
{
	Name: $.Name,
	Email: $.Email,
	"Id in Workday": $.IDInWorkday,
	"Id in ServiceNow": $.IDInServiceNow,
	"Username in Workday": $.UsernameInWorkday,
	"Username in ServiceNow": $.UsernameInServiceNow
}]]></dw:set-payload>
        </dw:transform-message>
        <object-to-string-transformer doc:name="CSV Output Object to String"/>
    </flow>

</mule>
