src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper"
	xmlns:servicenow="http://www.mulesoft.org/schema/mule/servicenow"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:wd-hr="http://www.mulesoft.org/schema/mule/wd-hr"
	version="EE-3.6.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/servicenow http://www.mulesoft.org/schema/mule/servicenow/1.0/mule-servicenow.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/wd-hr http://www.mulesoft.org/schema/mule/wd-hr/2.0/mule-wd-hr.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">


	<data-mapper:config name="map_to_csv" transformationGraphPath="map_to_csv.grf" doc:name="map_to_csv" />
    <data-mapper:config name="servicenowUsers_to_maps" transformationGraphPath="servicenowUsers_to_maps.grf" doc:name="servicenowUsers_to_maps"/>
    <data-mapper:config name="workdayWorkers_to_maps" transformationGraphPath="workdayWorkers_to_maps.grf" doc:name="workdayWorkers_to_maps"/>

	<flow name="mainFlow" 
		doc:description="This flow is the entry point to the Template business logic.

This flow should control the direction of the application, and it should be called by the different endpoints that your Template exposes to trigger it.">
		<flow-ref name="gatherDataFlow" doc:name="call gatherDataFlow" />
		<flow-ref name="aggregationFlow" doc:name="call aggregationFlow" />
		<flow-ref name="formatOutputFlow" doc:name="call formatOutputFlow" />
		<flow-ref name="outboundFlow" doc:name="call outboundFlow" />
		<exception-strategy ref="defaultChoiceExceptionStrategy"
			doc:name="Reference Exception Strategy" />
	</flow>

	<sub-flow name="gatherDataFlow" >
		<enricher source="#[payload]" target="#[flowVars['workersFromOrgA']]"
			doc:name="Store result in FlowVar 'workersFromOrgA'">
            <processor-chain doc:name="Processor Chain">
                <wd-hr:get-workers config-ref="Workday_Human_Resource" workersRequest-ref="#[org.mule.templates.WorkerRequest.createRequest(${wday.page.size})]" doc:name="get Workers from Workday Human Resource"/>
                <data-mapper:transform config-ref="workdayWorkers_to_maps" doc:name="Workday Workers to Maps"/>
            </processor-chain>
		</enricher>
		<enricher source="#[payload]" target="#[flowVars['workersFromOrgB']]"
			doc:name="Store result in FlowVar 'workersFromOrgB'">
            <processor-chain doc:name="Processor Chain">
                <servicenow:get-records config-ref="ServiceNow" doc:name="ServiceNow" type="SYS_USER">
                    <servicenow:get-records-request>

                    </servicenow:get-records-request>
                </servicenow:get-records>
                <data-mapper:transform config-ref="servicenowUsers_to_maps" doc:name="ServiceNow users to Maps"/>
            </processor-chain>
		</enricher>
	</sub-flow>

	<sub-flow name="aggregationFlow" >
		<custom-transformer class="org.mule.templates.transformers.MergeWorkersTransformer"
			doc:name="Custom component to build merged workers list" />
	</sub-flow>

	<sub-flow name="formatOutputFlow" >
		<custom-transformer class="org.mule.templates.transformers.SortWorkersTransformer"
			doc:name="Custom component to sort workers list" />
		<data-mapper:transform config-ref="map_to_csv"
			doc:name="transform Collection of Maps to CSV Format" />

		<object-to-string-transformer doc:name="CSV Output Object to String" />
	</sub-flow>
</mule>
